<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testemulti_telas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Calculo de figuras geometricas"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TesteMultitelas">
        <activity
            android:name=".hexagono"
            android:exported="false" />
        <activity
            android:name=".Losango"
            android:exported="false" />
        <activity
            android:name=".Triangulo"
            android:exported="false" />
        <activity
            android:name=".Circulo"
            android:exported="false" />
        <activity
            android:name=".Quadrado"
            android:exported="false" />
        <activity
            android:name=".Retangulo"
            android:exported="false" />
        <activity
            android:name=".menuOptions"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>